* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
  font-size: 14px;
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

div[type="button"] {
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
